:root {
  --main-bg-color: brown;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {box-sizing: border-box;}
  img {max-width: 100%; display: block;}

  body {
      font: 1.2em Helvetica, arial, sans-serif;
  }

  a:link, a:visited {
    text-decoration: none;
    color: var(--main-bg-color);
  }
  
  p.address {
    background-color: var(--main-bg-color);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 20px;
  }

.listing {
  list-style: none;
  margin: 2em;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
}
.listing li {
  border: 1px solid var(--main-bg-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.listing .cta {
  margin-top: auto;
  border-top: 1px solid var(--main-bg-color);
  padding: 10px;
  text-align: center;
}
.listing .body {
  padding: 10px;
}
